.blog-details-main-section{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 115px;
    display:grid;
    grid-template: auto / 57% 10% 33%;
}
.blog-details-left-side {
    display: grid;
    grid-area: 1 / 1;
    grid-template: 350px 25px auto 80px 21px 32px auto 25px 21px 40px 260px 100px / auto;
}
.blog-details-right-side {
    display: grid;
    grid-area: 1 / 3;
    grid-template: 31px auto / auto;
}
.blog-details-left-title-container {
    display: grid;
    grid-area: 1 / 1;
    width: 100%;
}
.blog-details-left-image {
    width: 100%;
    height: 311px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.blog-details-left-title {
    color: #FFFFFF;	
    font-family: FuturaMedium;	
    font-size: 48px;	
    line-height: 63px;	
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.blog-details-left-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-details-left-footer-author-container {
    display: flex;
}
.blog-details-left-footer-author {
    color: #5E5E5E;	
    font-family: FuturaRegular;	
    font-size: 12px;	
    line-height: 15px;
}
.blog-details-left-footer-date {
    color: #5E5E5E;	
    font-family: FuturaRegular;	
    font-size: 12px;	
    line-height: 15px;
}
.blog-details-left-footer-social-media {
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.blog-details-blog-text {
    display: grid;
    grid-area: 3 / 1;
    color: #5E5E5E;	
    font-family: GeorgiaRegular;	
    font-size: 24px;	
    line-height: 27px;
}
.blog-details-comment-title {
    display: grid; 
    grid-area: 5 / 1;
    color: #5E5E5E;	
    font-family: FuturaMedium;	
    font-size: 16px;	
    line-height: 21px;
    align-content: center;
    justify-content: center;
}
.blog-details-comment-container {
    display: grid;
    grid-area: 7 / 1;
    width: 100%;
    height: 100%;
}
.blog-details-comment-section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 48px 8px auto / auto;
}
.blog-details-comment-top {
    display: grid;
    grid-area: 1 / 1;
    grid-template: auto / 48px 8px 20% 8px 20%; 
    align-content: center;
}
.blog-details-comment-photo {
    display: grid;
    grid-area: 1 / 1;
}
.blog-details-comment-username {
    display: grid;
    grid-area: 1 / 3;
    color: #5E5E5E;	
    font-family: FuturaBold;	
    font-size: 12px;	
    line-height: 18px;
}
.blog-details-comment-date {
    display: grid; 
    grid-area: 1 / 5;
    color: #5E5E5E;	
    font-family: FuturaRegular;	
    font-size: 12px;	
    line-height: 15px;
}
.blog-details-comment-bottom {
    display: grid;
    grid-area: 3 / 1;
    width: 100%;
}
.blog-details-comment-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background: #C2C2C2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #5E5E5E;	
    font-family: FuturaMedium;	
    font-size: 15px;	
    line-height: 21px;
}
.blog-details-comment-triangle {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #C2C2C2;
    margin-left: 15px;
    height: 10px;
    width: 20px;
}
.blog-details-leave-comment-title {
    display: grid;
    grid-area: 9 / 1;
    color: #5E5E5E;	
    font-family: FuturaMedium;	
    font-size: 16px;	
    line-height: 21px;
    align-content: center;
    justify-content: center;
}
.blog-details-leave-comment-container {
    display: grid;
    grid-area: 11 / 1;
    width: 100%;
    height: 100%;
}
.blog-details-leave-comment-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: 200px 16px 37px 88px / auto;
}
.blog-details-leave-comment-input {
    background: transparent;
    border: none;
    color: transparent;
    outline: none;
    overflow: none;
    resize: none;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    padding: 10px;
}
.blog-details-leave-comment-input-show {
    display: grid;
    grid-area: 1 / 1;
    width: 100%;
    height: 200px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    position: relative;
    padding: 10px;
}
.blog-details-leave-comment-button-login {
    display: grid;
    grid-area: 3 / 1;
    justify-self: flex-end;
    border: 1.87px solid #D93044;	
    border-radius: 93.69px;	
    background-color: #D93044;
    color: #FFFFFF;	
    font-family: FuturaMedium;	
    font-size: 16px;	
    line-height: 21px;	
    align-content: center;
    height: 37px;
    outline: none;
}
.blog-details-leave-comment-button-post {
    display: grid;
    grid-area: 3 / 1;
    justify-self: flex-end;
    border: 1.87px solid #D93044;	
    border-radius: 93.69px;	
    background-color: #D93044;
    color: #FFFFFF;	
    font-family: FuturaMedium;	
    font-size: 16px;	
    line-height: 21px;	
    align-content: center;
    width: 162px;
    height: 37px;
}