.dashboard-section {
  width: 258px;
  height: 100vh;
  position: fixed;
  top:0;
  z-index: 3;
}
.zIndex {
  z-index: 6
}
.dashboard-container {
  width: 258px;
  height: 100vh;
  position: fixed;
  z-index: 6;
  background: #FBFBF2;
  display: grid;
  grid-template: repeat(16, 1fr) / auto;
  padding: 18px;
  padding-top: 40px;
  margin-left: -258px;
}
.dashboard-expand {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  grid-area: 8 / 1;
  margin-left: 120px;
  background: #D93044;
  opacity: .5;
  position: relative;
  cursor: pointer;
}
.dashboard-contents {
  color: white;
  margin-left: 60px;
	font-family: 'FuturaRegular';
	font-size: 30px;
	line-height: 29px;
}
.dashboard-title {
  color: #5E5E5E;	
  font-family: FuturaBold;	
  font-size: 24px;	
  line-height: 32px;
}
.dashboard-login {
  display: grid;
  grid-area: 3 / 1;
	font-family: 'FuturaMedium';
	font-size: 22px;
	line-height: 29px;
}
.dashboard-logout {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 15 / 1; 
}
/* Users */

.dashboard-user-events {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 3 / 1; 
}
.dashboard-user-posts {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 6 / 1; 
}
.dashboard-user-account {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 9 / 1; 
}
.dashboard-user-logout {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 12 / 1; 
}
/* Admin */
.dashboard-logout {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 15 / 1; 
}

.dashboard-admin-notifications {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 3 / 1; 
}
.dashboard-admin-pages {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 6 / 1; 
  cursor: pointer;
  user-select: none;
}
.dashboard-admin-users {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 9 / 1; 
}
.dashboard-admin-posts {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 12 / 1; 
}
.dashboard-admin-logout {
  color: #5E5E5E;	
  font-family: FuturaMedium;	
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-area: 15 / 1; 
}
.dashboard-admin-hidden-pages {
  height: 0px;
  overflow: hidden;
  display: grid;
  grid-area: 6 / 1 / span 2 / span 1;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  font-family: FuturaMedium;	
  font-size: 18px;	
  line-height: 25px;
}
.dashboard-hidden-home, .dashboard-hidden-blog, .dashboard-hidden-events, .dashboard-hidden-account  {
  color: #5E5E5E;	
}